.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.signOut {
  width: 100px;
  height: 30px;
  margin-top: 5px;
  background-color: hsl(185, 57%, 50%);
  border: none;
  border-radius: 5px;
  color: hsl(209, 61%, 16%);
}

.signOut:hover {
  cursor: pointer;
  background-color: hsl(185, 94%, 87%);
}
